.atom_ct {
  max-width: var(--ct-max-width);
  padding-left: var(--ct-indent);
  padding-right: var(--ct-indent);
  margin-left: auto;
  margin-right: auto;
}

.atom_modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}