.atom_ct {
  &, &-indent {
    padding: var(--ct-indent-vert) var(--ct-indent);
  }
  &, &-width {
    max-width: var(--ct-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}

.atom_modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  &__cover {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
  }
}

.atom_text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.atom_profile {
  @extend %s_img-fit;
  border-radius: 50%;
}