.m__ripple-btn {
  position: relative;
  overflow: hidden;
  .js_ripple {
    contain: strict;
    transform: scale(.8);
    border-radius: 50%;
    position: absolute;
    background: currentcolor;
    animation: default-ripple var(--ani-6, .6s) both;
    opacity: .4;
  }
}
@keyframes default-ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}