.se_post-comment {
  word-break: break-all;
  img {
    max-width: 100% !important;
    max-height: 500px;
  }
}

.se_post-content {
  word-break: break-all;
  img {
    max-width: 100% !important;
  }
}