.se_post-comment {
  word-break: break-all;
  img {
    max-width: 100% !important;
  }
}

.se_post-content {
  word-break: break-all;
  img {
    max-width: 100% !important;
  }
}

.se_post-content-write {
  word-break: break-all;
  *:empty:before {
    content: attr(aria-label);
    font: inherit;
    line-height: inherit;
    color: inherit;
    opacity: .7;
  }
  img {
    max-width: 100% !important;
  }
  &__youtube-max {
    max-width: 100%;
    width: 1000px;
  }
}