.s_ft-cl-sub {
  color: var(--ft-cl-sub);
}
.s_ft-cl-base {
  color: var(--ft-cl-base);
}

.s_ft-si-base {
  font-size: var(--ft-si-base);
}
.s_ft-si-down-1 {
  font-size: var(--ft-si-down-1);
}
.s_ft-si-up-1 {
  font-size: var(--ft-si-up-1);
}
.s_ft-si-up-2 {
  font-size: var(--ft-si-up-2);
}
.s_ft-si-up-3 {
  font-size: var(--ft-si-up-3);
}

.s_btn-base {
  background: var(--btn-bg-base);
  color: var(--btn-cl-base);
  padding: .3em .5em;
  min-width: 50px;
  cursor: pointer;
}