.s_ft-cl-sub {
  color: var(--ft-cl-sub);
}
.s_ft-si-down-1 {
  font-size: var(--ft-si-down-1);
}
.s_ft-si-up-1 {
  font-size: var(--ft-si-up-1);
}
.s_ft-si-up-2 {
  font-size: var(--ft-si-up-2);
}
.s_ft-si-up-3 {
  font-size: var(--ft-si-up-3);
}