@function rem($px) {
  @return $px / $root * 1rem;
}

$root: 20;
$base: 16;

$untilMobile: 767px;
$untilTablet: 1023px;

$ft-bold: 500;
$ft-normal: 400;

%atom-content {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
  padding: 0 var(--content-indent);
}

%img-fit-cover {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}