@import './reset.scss';

:root {
  --black: #000;
  --blue: #4846e6;
  --blue-1: #4E41DB;
  --white: #fff;
  --white-1: #F8F9FD;
  --white-2: #E5E5E5;
  --white-3: #999;
  --red: #C4314B;
  --purple:#9026c5;
  --purple-1: #DCD9F8;
  --purple-2: #8F75D9;

  --bg-base: var(--white-1);
  --bg-blue: var(--blue-1);
  --ft-cl-base: var(--black);
  --ft-cl-blue: var(--blue);
  --ft-cl-blue-1: var(--blue-1);
  --ft-cl-sub: var(--white-3);
  --ft-cl-white: var(--white);
  --ft-cl-red: var(--red);
  --ft-cl-purple: var(--purple);

  --st-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  --st-boarder: 1px solid #cccccc;

  --content-gap: 20px;
  --content-gap-vertical: 20px;
  --content-gap-vertical-1: 10px;
  --content-indent: 20px;
  --content-indent-2: 10px;
  --content-width: 1920px;

  --ft-si-base: #{rem(14)};
  --ft-si-title-1: #{rem(18)};
  --ft-si-title-2: #{rem(16)};
  --ft-si-sub: #{rem(12)};

  --bg-header: var(--blue-1);
}

html {
  font-size: $root * 1px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--ft-si-base);
  font-weight: 400;
  line-height: 1.4em;
  color: var(--ft-cl-base);
  background: var(--white-2);
}

.s_radius-4 {
  border-radius: 4px;
}
.s_radius-10 {
  border-radius: 10px;
}

h1, h2, h3, .s_ft-bold {
  font-weight: 700;
}
h2 {
  font-size: var(--ft-si-title-1);
}
h3 {
  font-size: var(--ft-si-title-2);
}
a, .s_cl-blue {
  color: var(--ft-cl-blue);
}
a:visited, .s-cl-purple {
  color: var(--ft-cl-purple);
}
.s_cl-red {
  color: var(--ft-cl-red);
}
.s_cl-sub {
  color: var(--ft-cl-sub);
}
.s_cl-base {
  color: var(--ft-cl-base);
}

// global class modules
@import './atom.scss';
@import './molecule.scss';